<%- include("partials/header.ejs") -%>

<h1>Welcome <%= firstName %></h1>
<br />

<h2>First Name : <%= firstName %></h2>
<br />
<h2>Last Name : <%= lastName %></h2>
<br />
<h2>Age : <%= age %></h2>
<br />
<h2>Income : <%= income %></h2>
<br />
<h2>Type : <%= type %></h2>
<br />
<h2>Number of Clients : <%= number %></h2>
<br />
<h2>Policy code you provide : <%= policyCode %></h2>

<%- include("partials/footer.ejs") -%>
