<%- include("partials/header.ejs") -%>

<h1>Welcome <%= firstName %>!!</h1>

<h2>Name : <%= firstName %></h2>
<h2>Last Name : <%= lastName %></h2>
<h2>Age : <%= age %></h2>
<h2>Height : <%= height %> cm</h2>
<h2>Weight : <%= weight %> kg</h2>
<h2>Policies : <%= policycodes %></h2>

<%- include("partials/footer.ejs") -%>
