<%- include("partials/header.ejs") -%>

<h1>Welcome <%= firstName %></h1>
<br />

<h2>First Name : <%= firstName %></h2>
<br />
<h2>Last Name : <%= lastName %></h2>
<br />
<h2>Age : <%= age %></h2>
<br />
<h2>Height : <%= height %> cm</h2>
<br />
<h2>Weight : <%= weight %> kg</h2>
<br />

<button type="submit"><a href="/agentinfo/<%= agentID %>">Agents</a></button>
<%- include("partials/footer.ejs") -%>
